<div class="profile-container">
    <img 
      src="<%= user.avatar || '/images/default-avatar.png' %>" 
      alt="avatar"
      class="avatar"
    >
    <div class="username">@<%= user.username %></div>
    <div class="fullname"><%= user.fullname %></div>

    <% if (isOwner) { %>
      <a href="@<%= user.username %>/account" class="edit-btn">ویرایش پروفایل</a>
    <% } %>

    <% if (user.posts && user.posts.length > 0) { %>
      <div class="posts">
        <% user.posts.forEach(post => { %>
          <div class="post">
            <img src="<%= post.image %>" alt="post">
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <div class="empty">
        هنوز پستی منتشر نشده
      </div>
    <% } %>

  </div>